@model Emarket_Website.ViewModels.HomeViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMarket Website</title>
    <style>
        .card {
            margin: 20px;
            padding: 20px;
            background-color: lightblue;
            border: 1px solid #cccccc;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            
        }

        
             


            
    </style>
</head>


<body>
    <!-- Navbar Section Starts Here -->

    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" title="Logo">
                    <img src="" alt="EMarket logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a asp-action="index">Home</a>
                    </li>
                    <li>
                        <a href="Order.cshtml">Orders</a>
                    </li>
                    <li>
                        <a href="CartItem">My Cart</a>
                    </li>
                    <li>
                        <a href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>


    </section>
    <br />

    <!-- Navbar Section Ends Here -->

    <section class="Shop-search text-center">
        <div class="container">

            <form action="Shop-search.html" method="POST">
                <input type="search" name="search" placeholder="Search here.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-prim">
            </form>

        </div>
    </section>
    <br />


  
   
        
            <h2 class="text-center"><strong>Shops</strong></h2>
           
        <div class="row" style="background-color:lightsteelblue;">
            @if (Model.shopS != null)
            {
               
            @foreach (var item in Model.shopS)
            {
                <div class="col-md-4">

                    <div class="card" style="width: 18rem;">
                        <img src="@Url.Content(item.Url)" style="max-height:140px;" />
                        <div class="card-body" style="width:13rem;">
                            <h5 class="card-title" style="color:black;">@item.Name</h5>

                            <p class="card-text" style="font-family:'Times New Roman', Times, serif; font-weight:100">Address : @item.Address</p>


                            <a asp-action="ShopEntry" asp-route-id="@item.Id" class="btn btn-primary">Shop Now</a>
                            <br>
                            <br>
                            <a asp-action="ReviewShop" asp-controller="ReviewShops" asp-route-id="@item.Id" style="color:green">Reviews</a>
                        </div>
                    </div>

                </div>
            }
            }
            else
            {
                <p>No shops available</p>
            }
        </div>

    <div class="clearfix"></div>
        <img src="" />

        <div>
        </div>

<br />
    <footer class="border-top footer text-muted" style="background-color:greenyellow;">

        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#"> &copy; 2023 - Emarket Group</a></p>
        </div>

    </footer>
</body>
</html>