@model IEnumerable<Emarket_Website.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1> Your Orders </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStat.Status)
                </td>
                <td>
                    <a asp-action="UserOrderDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="RemoveOrder" asp-controller="Home" asp-route-id="@item.Id">Remove</a> |
                    <form method="post" action="@Url.Action("InitiatePayment", "Orders")">
                        <input type="hidden" name="orderId" value="@item.Id" />
                        <button type="submit">Proceed to Payment</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
